@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(45deg, #6ac1c5, #bda5ff);
}

main {
  width: 100%;
  height: 100%;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calendar {
    width: 50%;
} 